$break-min: 320px;
$break-tiny: 480px;
$break-small: 580px;
$break-medium: 640px;
$break-large: 1200px;

@media only screen and (min-width: $break-large) {

	.article-full {
		.article-body {
			padding-left: 40%;
			width: 60%;
		}

		.article-image {
			position: relative;
			overflow: hidden;
			left: -65%;
			top: 0;
			width: 165%;
			max-height: 100%;
			margin-top: 0;
		}
	}

	#site-header, #site-body, #site-footer {
		max-width: 80%;
		margin: 0 auto;
	}

	.index {
		#site-header, #site-body, #site-footer {
			max-width: 37.1em;
			margin: 0 auto;
		}
	}


}

@media only screen and (max-width: $break-medium) {
	body {
		font-size: $reg-text;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 250%;
	}

	#site-header, #site-body, #site-footer {
		width: 95%;
	}

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		body {
			font-size: $xl-text;
		}

		.article-body {
			font-size: 200%;
			line-height: 146%;
		}
	}
}

@media only screen and (max-width: $break-small) {
	body {
		font-size: $reg-text;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 200%;
	}
}

@media only screen and (max-width: $break-tiny) {
	body {
		font-size: $reg-text;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 175%;
	}
}

@media only screen and (max-width: $break-min) {
	body {
		font-size: $reg-text;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 140%;
	}
}

